<footer class="py-10 bg-gray-100 border-t border-gray-200">
<div class="max-w-6xl mx-auto px-6">
    <div class="flex flex-col md:flex-row justify-between items-center">
    <div class="flex items-center space-x-2 mb-6 md:mb-0">
        <div class="w-8 h-8 bg-orange-500 rounded-full"></div>
        <span class="text-lg font-bold text-gray-800">eTax<span class="text-orange-500">.</span></span>
    </div>
    <div class="flex space-x-8 text-gray-600">
        <a href="#" class="hover:text-orange-500">{% t footer.terms %}</a>
        <a href="#" class="hover:text-orange-500">{% t footer.privacy %}</a>
    </div>
    </div>
    <div class="mt-8 text-center text-gray-500 text-sm">
    ©{{ site.time | date: '%Y' }} Arthälen OÜ. {% t footer.copyright %}
    </div>
</div>
</footer>
